/*.container{
    -fx-background-color: #e9e9ff;
    -fx-alignment: center;
    -fx-background-radius: 20;
}
.attachment{
    -fx-background-color: #4B0082;
}
.message-area{
    -fx-background-radius: 10px;
}
.chat-pane{
    -fx-background-radius: 10px;
}*/
.text-sent{
    -fx-background-color: #6e00ff;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 15px;
    -fx-wrap-text: true;
    -fx-padding: 10px;
}
.text-received{
    -fx-background-color: #e7e7e7;
    -fx-text-fill: #303030;
    -fx-background-radius: 15px;
    -fx-wrap-text: true;
    -fx-padding: 10px;
}


.background{
    -fx-background-color: white;
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;
    -fx-effect: dropshadow(two-pass-box, #c5e5f7,10,0,0,5);

}

.nameLabel{
    -fx-font-size: 20px;
    -fx-font-weight: 600;
    -fx-text-fill: #4B0082;
    -fx-font-family: Roboto;
}

.bio{
    -fx-font-size: 15px;
    -fx-font-weight: light;
    -fx-text-fill: #9d9d9d;
    -fx-font-family: Roboto;
    }

.list-view{
     -fx-background-color: #ffffff;
}

.list-cell{
     -fx-background-color: #ffffff;
     -fx-background-insets: 0;
     -fx-border-color: transparent;
     -fx-padding: 0;

}

.textFieldArea{
    -fx-background-color: #EFF6FC;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-padding: 10px;
    -fx-font-size: 15px;
    -fx-font-weight: light;
    -fx-text-fill: black;
    -fx-font-family: Roboto;
    -fx-effect: dropshadow(two-pass-box, #cbcbcb,5,0,0,4);
}

.text-field{
    -fx-background-color: #EFF6FC;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-padding: 10px;
    -fx-font-size: 15px;
    -fx-font-weight: light;
    -fx-text-fill: black;
    -fx-font-family: Roboto;
}
.attachmentButton{
    -fx-background-color: #EFF6FC;
}
.attachmentButton:hover{
    -fx-cursor: hand;
}

.sendButton{
    -fx-background-color: #6e00ff;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    }
.sendButton:hover{
    -fx-cursor: hand;
    -fx-background-color: #4B0082;
}

.toggleButton{
    -fx-background-color: #EFF6FC;
}

.toggleButton:hover{
    -fx-cursor: hand;
}
.toggleButton:selected{
    -fx-background-color: #d8e6f2;
    -fx-text-fill: #FFFFFF;
}


