.background{
    -fx-background-color: #7f7fde;
    -fx-border-color: #ffffff;
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
    -fx-effect: dropshadow(two-pass-box,#ffffff,5,0,0,4);
}

.labels{
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
}

.labels:hover{
    -fx-text-fill: #494747;
}

.Titlelabel{
    -fx-font-weight: 600;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
}