#chat_app_label {
        -fx-background-color: linear-gradient(to bottom, #6E00FF, #9C00FF);
}

#start_button, #stop_button, #announceButton {
    -fx-background-color: linear-gradient(to bottom, #6E00FF, #9C00FF);
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 1.2em;
    -fx-padding: 8 16;
    -fx-border-radius: 5;
    -fx-cursor:hand;
}

#start_button:hover, #stop_button:hover, #announceButton:hover {
    -fx-background-color: linear-gradient(to bottom, #4D0099, #7300CC); /* Darker gradient on hover */
}

/* Pressed effect */
#start_button:pressed, #stop_button:pressed, #announceButton:pressed {
    -fx-background-color: linear-gradient(to bottom, #330066, #6600CC); /* Even darker gradient when pressed */
}

#buttons_container {
        -fx-background-color: linear-gradient(to bottom, #F5F5F5, #DCDCDC);

}

#announcementField {
    -fx-background-color: linear-gradient(to bottom, #808080, #A9A9A9);
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 1.2em;
    -fx-padding: 8 16;
}