#user_status {
    -fx-background-color: linear-gradient(to bottom, #8E47FF, #AB73FF);
    -fx-padding: 20px;
    -fx-border-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 10, 0, 0, 0);
}

#user_gender {
    -fx-background-color: linear-gradient(to bottom, #8E47FF, #AB73FF);
    -fx-padding: 20px;
    -fx-border-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 10, 0, 0, 0);
}

#user_country {
    -fx-background-color: linear-gradient(to bottom, #8E47FF, #AB73FF);
    -fx-padding: 20px;
    -fx-border-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 10, 0, 0, 0);
}
